body {
    margin: 0;
    padding: 0;
    font-family: 'Lora', serif;
    font-family: 'Merriweather', serif;
}

.invitation {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -80%); /* Смещаем текст немного выше центра */
}

.invitation h1 {
    font-size: 36px; /* Увеличиваем размер шрифта для заголовка */
}

.invitation p {
    font-size: 24px; /* Увеличиваем размер шрифта для параграфа */
    margin-top: 20px; /* Добавляем небольшой отступ сверху */
}
.header {
    position: relative;
    text-align: center;
    background-size: cover;
    color: black;
    padding: 0;
    margin: 0;
    height: 100vh;
}

.background-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

 .navbar {
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.invitation {
    color: black;
    text-align: center;
    padding: 20px;
}

.content, .contact-form, footer {
    background-color: white;
    color: black;
    padding: 20px;
    margin-top: 20px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

a.button {
    display: inline-block;
    color: white;
    background: #39443d; /* Фон кнопки */
    border: none;
    border-radius: 5px;
    padding: 12px 30px;
    font-size: 16px;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    transition: transform 0.2s, background 0.3s; /* Изменение фона и трансформации при наведении */
    outline: none;
    text-decoration: none;
}

.button::before {
    content: "";
    position: absolute;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 50%;
    transform: scale(0);
    animation: ripple 1.5s ease-in-out infinite;
}

.button:hover {
    background: #966a4e; /* Изменение фона при наведении */
    transform: translateY(-2px); /* Поднимаем кнопку при наведении */
}

@keyframes ripple {
    0% {
        transform: scale(0);
        opacity: 1;
    }
    100% {
        transform: scale(2);
        opacity: 0;
    }
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;
    width: 150px;
    height: auto;
}

.header .logo {
    width: 150px;
    height: auto;
}

nav {
    position: absolute;
    top: 20px;
    right: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav li {
    display: inline;
    margin: 0 15px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.faq {
    background-color: #f2f2f2;
    padding: 20px;
    border: 1px solid #ccc;
    margin-top: 20px;
}

.faq h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.faq p {
    margin-bottom: 10px;
}

/* изменения  */
.content {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0; /* Убираем внутренние отступы у контейнера */
}

.content-left {
    width: 50%;
    background-color: #97a593;
    padding: 30px;
    color: white;
    margin: 0; /* Убираем внешние отступы у левой части */
}

.content-left h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.content-left p {
    margin-top: 10px; /* Добавляем отступ сверху перед каждым абзацем */
    padding-left: 20px; /* Добавляем отступ слева для каждого абзаца */
}

.content-left ul {
    list-style-type: none; /* Устанавливаем тип маркера как "нет" */
    padding: 0; /* Убираем внутренний отступ у списка */
    font-size: 22px
}

.content-right {
    width: 50%;
    background-color: #fcf5eb;
    padding: 30px;
    margin: 0; /* Убираем внешние отступы у правой части */
}

.content-right h2 {
    font-size: 40px;
    margin-bottom: 20px;
    text-align: center;
}

.content-right ul {
    list-style-type: none; /* Устанавливаем тип маркера как "нет" */
    padding: 0; /* Убираем внутренний отступ у списка */
    font-size: 22px
}

.content-right p {
    margin-top: 10px; /* Добавляем отступ сверху перед каждым абзацем */
    padding-left: 20px; /* Добавляем отступ слева для каждого абзаца */
}
.benefit {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.benefit img {
    width: 45px;
    height: 45px; /* Задаем и ширину, и высоту */
    margin-right: 10px;
}

.benefit p {
    font-size: 18px;
}
