.center-text {
  text-align: center;
}

.h4-raleway {
  color: 
  #573e2a;
  font-family: 'Raleway', sans-serif;
  font-size: 1.5rem; /* Размер, который соответствует h4 в Raleway */
  font-weight: 400; /* Нормальный вес шрифта, если в Raleway нет конкретного для h4 */
  margin: 0; /* Убираем внешние отступы, чтобы соответствовать h4 */
}

.form_toggle {
  display: flex;
  justify-content: center; /* Центрирование кнопок */
  overflow: hidden;
  margin-top: 5px; /* Отступ сверху 5px */
}

.form_toggle-item {
  display: flex;
}

.form_toggle-item input[type=radio] {
  display: none;
}

.form_toggle-item label {
  display: inline-block;
  padding: 0px 15px;
  line-height: 34px;
  border: 1px solid #999;
  cursor: pointer;
  user-select: none;
  background: #fff;
  flex: 1; /* Одинаковая ширина для обеих кнопок */
  font-family: 'Raleway', sans-serif; /* Изменено на Raleway */
  font-weight: bold; /* Полужирный стиль */
}

.form_toggle .item-1 label {
  border-top-left-radius: 50px; /* Скругление только слева для "Раз в месяц" */
  border-bottom-left-radius: 50px;
}

.form_toggle .item-2 label {
  border-left: 1px solid #999; /* Добавлено левое граничное условие для разделения кнопок */
  border-right: 1px solid #999; /* Добавлено правое граничное условие для разделения кнопок */
}

.form_toggle .item-3 label {
  border-top-right-radius: 50px; /* Скругление только справа для "Раз в 3 месяца" */
  border-bottom-right-radius: 50px;
}

/* Checked */
.form_toggle .item-1 input[type=radio]:checked + label {
  background: #d2bca6; /* Цвет при выборе для "Раз в месяц" */
}

.form_toggle .item-2 input[type=radio]:checked + label {
  background: #d2bca6; /* Цвет при выборе для "Раз в 2 месяца" */
}

.form_toggle .item-3 input[type=radio]:checked + label {
  background: #d2bca6; /* Цвет при выборе для "Раз в 3 месяца" */
}


 .u-section-1 {
  background-image: url("images/bg_reg.PNG");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 1029px;
}

.u-section-1 .u-group-1 {
  width: 665px;
  height: 915px;
  margin: 81px auto 33px;
}

.u-section-1 .u-container-layout-1 {
  padding: 24px 0 0;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  font-weight: 700;
  margin: 3px auto 0;
}

.u-section-1 .u-group-2 {
  min-height: 190px;
  height: auto;
  width: 665px;
  margin: 20px 0 0;
}

.u-section-1 .u-container-layout-2 {
  padding: 0 30px 0 10px;
}

.u-section-1 .u-text-2 {
  font-weight: 600;
  font-size: 1rem;
  margin: 29px auto 0;
}

.u-section-1 .u-group-elements-1 {
  width: 340px;
  min-height: 39px;
  height: auto;
  margin: 7px auto 0 153px;
}

.u-section-1 .u-btn-1 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  --top-right-radius: 50px;
  --bottom-right-radius: 50px;
  border-style: solid;
  margin: 0 auto 0 170px;
  padding: 9px 40px;
}

.u-section-1 .u-btn-2 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  border-style: solid;
  margin: -39px auto 0 0;
  padding: 9px 30px;
}

.u-section-1 .u-text-3 {
  font-weight: 600;
  font-size: 1rem;
  margin: 13px auto 0;
}

.u-section-1 .u-group-elements-2 {
  width: 559px;
  min-height: 38px;
  height: auto;
  margin: 13px auto 0 43px;
}

.u-section-1 .u-btn-3 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  --top-right-radius: 50px;
  --bottom-right-radius: 50px;
  border-style: solid;
  margin: 0 auto 0 388px;
  padding: 8px 8px 9px;
}

.u-section-1 .u-btn-4 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  --top-left-radius: 50px;
  --bottom-left-radius: 50px;
  margin: -38px auto 0 0;
  padding: 8px 32px 9px;
}

.u-section-1 .u-btn-5 {
  font-weight: 700;
  text-transform: uppercase;
  font-size: 0.875rem;
  letter-spacing: 1px;
  background-image: none;
  border-style: solid;
  --radius: 1px;
  margin: -38px auto 0 170px;
  padding: 8px 32px 9px;
}

.u-section-1 .u-form-1 {
  --radio-checked-icon: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='2' fill='%235e4834'/%3e%3c/svg%3e");
  height: 730px;
  width: 665px;
  margin: 0 auto;
}

.u-section-1 .u-form-group-1 {
  margin-left: 0;
}

.u-section-1 .u-label-1 {
  font-weight: 600;
}

.u-section-1 .u-input-1 {
  --radius: 30px;
}

.u-section-1 .u-label-2 {
  font-weight: 600;
}

.u-section-1 .u-input-2 {
  --radius: 30px;
}

.u-section-1 .u-form-group-3 {
  margin-left: 0;
}

.u-section-1 .u-label-3 {
  font-weight: 600;
}

.u-section-1 .u-input-3 {
  --radius: 30px;
}

.u-section-1 .u-form-group-4 {
  margin-left: 0;
}

.u-section-1 .u-label-4 {
  font-weight: 600;
}

.u-section-1 .u-input-4 {
  --radius: 30px;
}

.u-section-1 .u-label-5 {
  font-weight: 600;
}

.u-section-1 .u-input-5 {
  --radius: 30px;
}

.u-section-1 .u-text-4 {
  margin-left: 0;
  font-weight: 700;
}

.u-section-1 .u-btn-6 {
  background-image: none;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    min-height: 1095px;
    height: auto;
  }

  .u-section-1 .u-group-2 {
    height: auto;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 389px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 661px;
  }

  .u-section-1 .u-group-1 {
    width: 431px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-group-2 {
    width: 540px;
  }

  .u-section-1 .u-container-layout-2 {
    padding-right: 10px;
  }

  .u-section-1 .u-group-elements-2 {
    width: 520px;
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 369px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: -19px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 150px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }
}

@media (max-width: 575px) {
   .u-section-1 {
    background-position: 28.68% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 400px;
  }

  .u-section-1 .u-group-1 {
    width: 340px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-group-2 {
    width: 340px;
  }

  .u-section-1 .u-group-elements-1 {
    width: 320px;
    margin-left: 0;
  }

  .u-section-1 .u-group-elements-2 {
    width: 320px;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 269px;
  }

  .u-section-1 .u-btn-4 {
    margin-left: -119px;
  }

  .u-section-1 .u-btn-5 {
    margin-left: auto;
  }

  .u-section-1 .u-form-1 {
    width: 340px;
  }
}