<!DOCTYPE html>
{% load static %}
<html style="font-size: 16px;" lang="ru">
<head>
{% block header %}{% endblock header %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="utf-8">
    <meta name="description" content="">
    <link rel="stylesheet" href="{% static 'css/nicepage.css' %}" media="screen">
    <title>Mistea</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <!-- <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Karma:wght@300;400;500;600;700&display=swap" rel="stylesheet"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    <script class="u-script" type="text/javascript" src="{% static 'js/jquery.js' %}" defer=""></script>
    <script class="u-script" type="text/javascript" src="{% static 'js/nicepage.js' %}" defer=""></script>
    <meta name="referrer" content="origin">
    <link id="u-theme-google-font" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i|Open+Sans:300,300i,400,400i,500,500i,600,600i,700,700i,800,800i">
    <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> -->
    <!-- <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet"> -->
</head>
<body>
  <top class="fixed-top">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href=" ">MISTEA</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item {% if active_page == 'home' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'home' %}">Главная</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'tea-list' %}">Чайный ассортимент</a>
                </li>
                <li class="nav-item {% if active_page == 'subs' %}active{% endif %}">
                    <a class="nav-link" href="{% url 'subs' %}">Подписки</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">О доставке</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">О нас</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="ссылка_на_личный_кабинет"><b>Личный кабинет</b></a>
            </li>
        </ul>
    </nav>
  </top>
<div class="wrapper">
    <!-- <div class="content"> -->
    {% block content %}{% endblock content %}
    <!-- </div> -->
</div>
<!-- футер -->
<footer class="u-clearfix u-custom-color-5 u-footer" id="sec-b7e4"><div class="u-clearfix u-sheet u-sheet-1">
  <div class="data-layout-selected u-clearfix u-expanded-width u-gutter-30 u-layout-wrap u-layout-wrap-1">
    <div class="u-gutter-0 u-layout">
      <div class="u-layout-row">
        <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-20 u-layout-cell-1">
          <div class="u-container-layout u-container-layout-1"><!--position-->
            <div data-position="" class="u-position u-position-1"><!--block-->
              <div class="u-block">
                <div class="u-block-container u-clearfix"><!--block_header-->
                  <h5 class="u-block-header u-text"><!--block_header_content--><!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                  <div class="u-block-content u-text"><!--block_content_content-->Присоединяйтесь к Mistea прямо сейчас и станьте частью тайного чайного клуба, где чаепитие превращается в настоящее приключение!<!--/block_content_content--></div><!--/block_content-->
                </div>
              </div><!--/block-->
            </div><!--/position-->
          </div>
        </div>
        <div class="u-align-left u-container-style u-layout-cell u-size-20 u-layout-cell-2">
          <div class="u-container-layout u-container-layout-2"><!--position-->
            <div data-position="" class="u-position u-position-2"><!--block-->
              <div class="u-block">
                <div class="u-block-container u-clearfix"><!--block_header-->
                  <h5 class="u-block-header u-text"><!--block_header_content-->Контакты<!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                  <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                </div>
              </div><!--/block-->
            </div><!--/position-->
            <a href="mailto:info@site.com" class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-text-white u-top-left-radius-0 u-top-right-radius-0 u-btn-1"><span class="u-icon u-text-palette-2-light-3"><svg class="u-svg-content" viewBox="0 0 24 16" x="0px" y="0px" style="width: 1em; height: 1em;"><path fill="currentColor" d="M23.8,1.1l-7.3,6.8l7.3,6.8c0.1-0.2,0.2-0.6,0.2-0.9V2C24,1.7,23.9,1.4,23.8,1.1z M21.8,0H2.2
c-0.4,0-0.7,0.1-1,0.2L10.6,9c0.8,0.8,2.2,0.8,3,0l9.2-8.7C22.6,0.1,22.2,0,21.8,0z M0.2,1.1C0.1,1.4,0,1.7,0,2V14
c0,0.3,0.1,0.6,0.2,0.9l7.3-6.8L0.2,1.1z M15.5,9l-1.1,1c-1.3,1.2-3.6,1.2-4.9,0l-1-1l-7.3,6.8c0.2,0.1,0.6,0.2,1,0.2H22
c0.4,0,0.6-0.1,1-0.2L15.5,9z"></path></svg></span>&nbsp;mistea.yandex.ru
            </a>
            <a href="https://nicepage.com" class="u-active-none u-bottom-left-radius-0 u-bottom-right-radius-0 u-btn u-btn-rectangle u-button-style u-hover-none u-none u-radius-0 u-top-left-radius-0 u-top-right-radius-0 u-btn-2"><span class="u-icon"><svg class="u-svg-content" viewBox="0 0 405.333 405.333" x="0px" y="0px" style="width: 1em; height: 1em;"><path d="M373.333,266.88c-25.003,0-49.493-3.904-72.704-11.563c-11.328-3.904-24.192-0.896-31.637,6.699l-46.016,34.752    c-52.8-28.181-86.592-61.952-114.389-114.368l33.813-44.928c8.512-8.512,11.563-20.971,7.915-32.64    C142.592,81.472,138.667,56.96,138.667,32c0-17.643-14.357-32-32-32H32C14.357,0,0,14.357,0,32    c0,205.845,167.488,373.333,373.333,373.333c17.643,0,32-14.357,32-32V298.88C405.333,281.237,390.976,266.88,373.333,266.88z"></path></svg></span>&nbsp;+7(925) -727-50-49&nbsp;
            </a>
          </div>
        </div>
        <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-20 u-layout-cell-3">
          <div class="u-container-layout u-container-layout-3"><!--position-->
            <div data-position="" class="u-position u-position-3"><!--block-->
              <div class="u-block">
                <div class="u-block-container u-clearfix"><!--block_header-->
                  <h5 class="u-block-header u-text"><!--block_header_content-->Быстрые ссылки<!--/block_header_content--></h5><!--/block_header--><!--block_content-->
                  <div class="u-block-content u-text"><!--block_content_content--><!--/block_content_content--></div><!--/block_content-->
                </div>
              </div><!--/block-->
            </div><!--/position-->
            <a href="https://nicepage.com/c/product-list-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-hover-custom-color-2 u-text-white u-btn-3">О нас<br>
            </a>
            <a href="https://nicepage.com/c/product-list-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-hover-custom-color-2 u-text-white u-btn-4">Подписки<br>
            </a>
            <a href="https://nicepage.com/c/product-list-website-templates" class="u-border-1 u-border-active-palette-2-base u-border-hover-white u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-hover-custom-color-2 u-text-white u-btn-5">FaQ</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="u-border-1 u-border-white u-expanded-width u-line u-line-horizontal u-opacity u-opacity-50 u-line-1"></div>
  <a href="https://nicepage.com" class="u-image u-logo u-image-1" data-image-width="80" data-image-height="40">
    <img src="images/default-logo.png" class="u-logo-image u-logo-image-1">
  </a>
  <p class="u-align-center u-text u-text-default u-text-7">© 2023 MISTEA</p>
</div></footer>

</body>

</html>
