<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="static/css/styles2.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lora">
</head>
<body>
    <header>
        <div class="logo">Mistea</div>
        <nav>
            <ul>
                <li><a href="#">Наши чаи</a></li>
                <li><a href="#">Подписки</a></li>
                <li><a href="#">О нас</a></li>
                <li><a href="#">О доставке</a></li>
                <li><a href="#">Личный кабинет</a></li>
            </ul>
        </nav>
    </header>
    <div class="background">
        <img src="static/images/bg_green.PNG" alt="Background Image">
        <div class="content">
            <h1>Join the Mystery Tea Club with Mistea!</h1>
            <p>Подпишитесь прямо сейчас и начните тайное путешествие!</p>
            <a class="subscribe-button" href="#">Подписаться</a>
        </div>
    </div>
    
    <div class="green-block">
        <p>Как это работает?</p>
        <!-- Описание работы подписки -->
    </div>
    
    <div class="cream-block">
        <p>Почему это удобно?</p>
        <!-- Почему подписка удобна -->
    </div>
    
    <div class="questions-block">
        <p>Вопросы о доставке и оплате</p>
        <!-- Вопросы о доставке и оплате -->
    </div>
    
    <div class="contact-form">
        <p>Остались вопросы? Свяжитесь с нами!</p>
        <!-- Форма для заполнения -->
    </div>
    <footer>
        <div class="logo">Mistea</div>
        <ul>
            <li><a href="#">Политика конфиденциальности</a></li>
            <li><a href="#">О проекте</a></li>
            <li><a href="#">Подписки</a></li>
            <li><a href="#">Наверх</a></li>
        </ul>
    </footer>
</body>
</html>
