{% extends 'base.html' %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" media="screen">
      {% endblock style %}
      {% block content %}
    <section class="u-clearfix u-color-scheme-u10 u-custom-color-10 u-section-1" id="sec-c579">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="custom-expanded data-layout-selected u-clearfix u-gutter-0 u-layout-wrap u-layout-wrap-1">
          <div class="u-gutter-0 u-layout">
            <div class="u-layout-row">
              <div class="u-size-24-lg u-size-24-xl u-size-29-sm u-size-29-xs u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-layout-cell u-left-cell u-size-60 u-layout-cell-1">
                    <div class="u-container-layout u-container-layout-1">
                      <h2 class="u-align-center u-text u-text-1">Чайная подписка: Цветочная Симфония</h2>
                      <img class="u-align-center u-image u-image-round u-preserve-proportions u-radius-10 u-image-1" src="images/flowers.jpeg" alt="" data-image-width="1024" data-image-height="1024">
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-size-31-sm u-size-31-xs u-size-36-lg u-size-36-xl u-size-60-md">
                <div class="u-layout-col">
                  <div class="u-align-left u-container-style u-layout-cell u-right-cell u-size-60 u-layout-cell-2">
                    <div class="u-container-layout u-valign-top u-container-layout-2">
                      <h4 class="u-align-center u-text u-text-default u-text-2">Описание подписки</h4>
                      <p class="u-text u-text-3">Подписка "Цветочная Гармония" - это удивительное собрание изысканных чаев, созданных для настоящих ценителей натуральных ароматов и невероятной гармонии в каждой чашке. В её состав входят: <br>1. Белый пион - нежный чай из цветков липы, который погружает вас в атмосферу весеннего сада, наполняя воздух ароматом цветущих пионов. <br>2. Чай с лавандой - этот чай обладает успокаивающими свойствами лаванды, создавая идеальное вечернее напиток для расслабления и релаксации. <br>3. Чай с ромашкой - ромашка в этом чае придает нежный, слегка сладковатый вкус, и помогает успокоить ум и расслабиться после долгого дня. <br>4. Чай с чередой - череда прекрасно дополняет эту коллекцию своими травяными нотками, создавая чувство баланса и гармонии. <br>Подписка "Цветочная Гармония" призвана порадовать вас разнообразием природных ароматов и вкусов, помогая сбежать от повседневных забот и насладиться часами спокойствия и умиротворения.
                      </p>
                      <a href="" class="u-align-center u-border-none u-btn u-btn-round u-button-style u-grey-90 u-hover-custom-color-1 u-radius-50 u-btn-1">Подписаться</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock content %}
