{% extends 'base.html' %}
{% load static %}
{% block style %}
<script>
  document.addEventListener('DOMContentLoaded', function() {
      var switch = false;
  
      var statusButton = document.getElementById('statusButton');
  
      statusButton.addEventListener('click', function() {
          switch = true;
      });
  });
</script>
<link rel="stylesheet" href="{% static 'css/homepage.css' %}" media="screen">
      {% endblock style %}
      {% block content %}
    <section class="u-align-right u-clearfix u-image u-section-1" id="carousel_8256" data-image-width="1920" data-image-height="940">
      <img src="{% static 'images/bg_green.PNG'%}" class="background-image" alt="Фоновое изображение">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-align-left u-container-style u-group u-opacity u-opacity-80 u-shape-rectangle u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1500">
          <div class="u-container-layout u-container-layout-1">
            <h1 class="u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-out="0"> Mistea - это чай по подписке <br>
            </h1>
            <p class="u-text u-text-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-out="0"> который не оставит вас равнодушным</p>
            <a href="{% url 'homepage' %}#subs" class="u-active-custom-color-2 u-border-none u-btn u-btn-round u-button-style u-grey-90 u-hover-custom-color-2 u-radius-37 u-text-active-white u-text-hover-white u-text-white u-btn-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-out="0">Подписаться</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-2" id="carousel_c3ae">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-out="0"> Ваше знакомство с Mistea начинается здесь</h2>
        <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-1">
                <div class="u-container-layout u-container-layout-1">
                  <img class="u-expanded-width u-image u-image-contain u-image-default u-image-1" src="{% static 'images/tea_sem1.png'%}" alt="" data-image-width="719" data-image-height="383" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-out="0">
                  <p class="u-text u-text-default u-text-5" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="750" data-animation-out="0">Каждый месяц вы будете получать свежие и уникальные чаи, отобранные с любовью специально для вас.</p>
                  <div class="custom-expanded u-align-center u-container-style u-group u-opacity u-opacity-95 u-palette-2-base u-radius-20 u-shape-round u-group-1" data-animation-name="customAnimationIn" data-animation-duration="1750" data-animation-delay="500" data-animation-out="0">
                    <div class="u-container-layout u-container-layout-2">
                      <h5 class="u-text u-text-3"> Присоединяйтесь к нам и дайте себе возможность каждый день отправляться в увлекательное чайное путешествие, не покидая свой дом.&nbsp;</h5>
                    </div>
                  </div>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-size-30 u-layout-cell-2">
                <div class="u-container-layout u-valign-top u-container-layout-3">
                  <div class="u-align-center u-container-style u-expanded-width u-group u-palette-2-base u-radius-20 u-shape-round u-group-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-out="0">
                    <div class="u-container-layout u-container-layout-4">
                      <h5 class="u-align-center u-text u-text-4">Мы верим, что чай - это не просто напиток, это настоящее путешествие в мир удивительных вкусов и ароматов.</h5>
                    </div>
                  </div>
                  <p class="u-text u-text-default u-text-5" data-animation-name="customAnimationIn" data-animation-duration="1000" data-animation-delay="750" data-animation-out="0"> Мы создали подписку для таких же любителей чая. Наша подписка - это способ сделать чаепитие частью вашей повседневной жизни, без лишних хлопот.</p>
                  <img class="u-expanded-width u-image u-image-contain u-image-default u-image-2" src="{% static 'images/tea_sem2.png'%}" alt="" data-image-width="719" data-image-height="383" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-out="0">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-section-3" id="carousel_6aff">
      <img class="u-align-left u-expanded-width u-image u-image-default u-image-1" data-image-width="6720" data-image-height="4480" src="{% static "images/why.jpg" %}">
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-out="0">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-palette-2-base u-text-1" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-out="0">01</h2>
              <h5 class="u-text u-text-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750" data-animation-out="0">Экономия времени</h5>
              <p class="u-text u-text-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750" data-animation-out="0">Мы доставим чай прямо к вашей двери, освобождая вас от забот о покупках.</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-2" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-out="0">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-palette-2-base u-text-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-out="0">02</h2>
              <h5 class="u-text u-text-5" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750" data-animation-out="0"> Экономия денег</h5>
              <p class="u-text u-text-6" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750" data-animation-out="0"> Подписка на чай позволяет получать чай по сниженной цене, по сравнению с регулярными покупками в магазинах</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-3" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-out="0">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-palette-2-base u-text-7" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-out="0">03</h2>
              <h5 class="u-text u-text-8" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750" data-animation-out="0">Качество и свежесть</h5>
              <p class="u-text u-text-9" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750" data-animation-out="0"> Мы гарантируем, что все чаи, полученные вами в рамках подписки, всегда будут свежие и высочайшего качества.</p>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-4" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-out="0">
            <div class="u-container-layout u-similar-container u-container-layout-4">
              <h2 class="u-custom-font u-font-oswald u-text u-text-default u-text-palette-2-base u-text-10" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="500" data-animation-out="0">04</h2>
              <h5 class="u-text u-text-11" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750" data-animation-out="0">Подарки</h5>
              <p class="u-text u-text-12" data-animation-name="customAnimationIn" data-animation-duration="1500" data-animation-delay="750" data-animation-out="0">i​Периодически мы добавляем ваши заказы подарки, чтобы сделать вашу подписку на чай ещё более увлекательной.</p>
            </div>
          </div>
        </div>
      </div>
      <h2 class="u-align-center u-text u-text-white u-text-13">Почему чай по подписке - это удобно?</h2>
    </section>
    <section class="u-align-center-sm u-align-center-xs u-clearfix u-section-4" id="carousel_9dd1">
      <div class="u-clearfix u-sheet u-valign-top u-sheet-1">
        <h2 class="u-align-center u-text u-text-1">Как работает подписка?</h2>
        <div class="u-align-center u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-align-center u-container-style u-custom-item u-list-item u-palette-2-dark-1 u-radius-50 u-repeater-item u-shape-round u-list-item-1">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-1"><span class="u-file-icon u-icon u-opacity u-opacity-60 u-text-white u-icon-1"><img src="{% static 'images/icon1.png'%}" alt=""></span>
                <h3 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-default u-text-white u-text-2">Выберите удобный для вас вид подписки</h3>
                <p class="u-text u-text-white u-text-3">Посмотреть варианты&nbsp;<br>
                  <br>
                </p>
                <p class="u-custom-font u-font-oswald u-text u-text-4">01</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-custom-item u-list-item u-palette-2-dark-2 u-radius-50 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-2"><span class="u-file-icon u-icon u-opacity u-opacity-60 u-text-white u-icon-2"><img src="{% static 'images/icon2.png'%}" alt=""></span>
                <h3 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-default u-text-white u-text-5">
                  <br>Выберите удобный формат
                </h3>
                <p class="u-text u-text-white u-text-6">Мы предоставляем своим подписчикам выбор формата чая - в пакетиках или заварной.&nbsp;</p>
                <p class="u-custom-font u-font-oswald u-text u-text-7">02</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-custom-color-2 u-custom-item u-list-item u-radius-50 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-3"><span class="u-file-icon u-icon u-opacity u-opacity-60 u-text-white u-icon-3"><img src="{% static 'images/icon3.png'%}" alt=""></span>
                <h3 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-default u-text-white u-text-8">определитесь с интервалом</h3>
                <p class="u-text u-text-white u-text-9"> По умолчанию привозим раз в месяц. После оформления подписки вы можете установить любой удобный для вас интервал.</p>
                <p class="u-custom-font u-font-oswald u-text u-text-10">03</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-custom-color-5 u-custom-item u-list-item u-radius-50 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-4"><span class="u-file-icon u-icon u-opacity u-opacity-60 u-text-white u-icon-4"><img src="{% static 'images/icon4.png'%}" alt=""></span>
                <h3 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-default u-text-white u-text-11"> Выберите доставку</h3>
                <p class="u-text u-text-white u-text-12">Доставим по выбранному адресу курьером до двери.<br>
                  <br>
                  <br>
                </p>
                <p class="u-custom-font u-font-oswald u-text u-text-13">04</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-custom-color-2 u-custom-item u-list-item u-radius-50 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-5"><span class="u-file-icon u-icon u-opacity u-opacity-60 u-text-white u-icon-5"><img src="{% static 'images/icon5.png'%}" alt=""></span>
                <h3 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-default u-text-white u-text-14">Привяжите карту</h3>
                <p class="u-text u-text-white u-text-15">Привяжите карту для оплаты - это удобно и вы всегда сможете отвязать карту в личном кабинете.</p>
                <p class="u-custom-font u-font-oswald u-text u-text-16">05</p>
              </div>
            </div>
            <div class="u-align-center u-container-style u-custom-color-4 u-custom-item u-list-item u-radius-50 u-repeater-item u-shape-round">
              <div class="u-container-layout u-similar-container u-valign-bottom u-container-layout-6"><span class="u-file-icon u-icon u-opacity u-opacity-60 u-text-white u-icon-6"><img src="{% static 'images/icon6.png'%}" alt=""></span>
                <h3 class="u-align-center u-custom-font u-font-pt-sans u-text u-text-default u-text-white u-text-17">Получите чай</h3>
                <p class="u-text u-text-white u-text-18">И наслаждайтесь вкусом и качеством.<br>
                  <br>
                  <br>
                </p>
                <p class="u-custom-font u-font-oswald u-text u-text-19">06</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <a id="subs"></a>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-5" id="sec-d6d7">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-1"> Выберите подписку</h2>
        <div class="u-align-center u-expanded-width u-list u-list-1">
          <div class="u-repeater u-repeater-1">
            <div class="u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-1">
              <div class="u-container-layout u-similar-container u-container-layout-1">
                <img alt="" class="u-expanded-width u-image u-image-round u-radius-10 u-image-1" data-image-width="466" data-image-height="312" src="{% static 'images/sub1.jpg'%}">
                <h4 class="u-text u-text-palette-2-base u-text-2"> Спокойствие и расслабление</h4>
                <p class="u-text u-text-default u-text-3">Включает в себя чаи с успокаивающими свойствами, начиная с ароматной лаванды и ромашки, заканчивая мятным зеленым чаем и травяным Шу Мей.<br>
                </p>
                <br>
                <br>
                <a href="{% url 'subscr' subscription_id=2 %} " class="u-active-black u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-2-base u-radius-50 u-btn-1">Подписаться</a>
                <h4 class="u-text u-text-default u-text-palette-2-base u-text-4">800р/мес</h4>
                <a href="{% url 'subscription_detail' subscription_id=2 %}" class="u-align-center u-border-1 u-border-active-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-hover-palette-4-dark-1 u-text-palette-2-dark-2 u-btn-2">подробнее о подписке</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-video-cover u-white u-list-item-2">
              <div class="u-container-layout u-similar-container u-container-layout-2">
                <img alt="" class="u-expanded-width u-image u-image-round u-radius-10 u-image-2" src="{% static 'images/sub2.jpg'%}" data-image-width="910" data-image-height="640">
                <h4 class="u-text u-text-palette-2-base u-text-5"> Цветочная симфония</h4>
                <p class="u-text u-text-default u-text-6">Обогатит вашу чайную коллекцию пятью восхитительными сортами чая, начиная с изысканного белого пиона и погружая вас в ароматическое волшебство цветов с чаем из цветков липы, лавандой, ромашкой и чередой, создавая неповторимую симфонию.</p>
                <a href="{% url 'subscr' subscription_id=5 %}" class="u-active-black u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-2-base u-radius-50 u-btn-3">подписаться</a>
                <h4 class="u-text u-text-default u-text-palette-2-base u-text-7">1000р/мес</h4>
                <a href="{% url 'subscription_detail' subscription_id=5 %}" class="u-align-center u-border-1 u-border-active-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-hover-palette-4-dark-1 u-text-palette-2-dark-2 u-btn-4">подробнее о подписке</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-3">
              <div class="u-container-layout u-similar-container u-container-layout-3">
                <img alt="" class="u-expanded-width u-image u-image-round u-radius-10 u-image-3" src="{% static 'images/sub3.jpg'%}" data-image-width="6025" data-image-height="3389">
                <h4 class="u-text u-text-palette-2-base u-text-8">Восточная гармония</h4>
                <p class="u-text u-text-default u-text-9"> Пять великолепных сортов чая: ассамский чай для бодрости, колодец дракона с нотками цветов, силигури с нежным вкусом, тянь гуань инь с изысканным ароматом и цейлонский чай с яркими фруктовыми акцентами. Насладитесь множеством чайных вкусов и ароматов.</p>
                <a href="{% url 'subscr' subscription_id=1 %}" class="u-active-black u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-2-base u-radius-50 u-btn-5">подписаться</a>
                <h4 class="u-text u-text-default u-text-palette-2-base u-text-10">1000р/мес</h4>
                <a href="{% url 'subscription_detail' subscription_id=1 %}" class="u-align-center u-border-1 u-border-active-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-hover-palette-4-dark-1 u-text-palette-2-dark-2 u-btn-6">подробнее о подписке</a>
              </div>
            </div>
            <div class="u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-4">
              <div class="u-container-layout u-similar-container u-container-layout-4">
                <img alt="" class="u-expanded-width u-image u-image-round u-radius-10 u-image-4" src="{% static 'images/sub4.jpg'%}" data-image-width="7360" data-image-height="4912">
                <h4 class="u-text u-text-palette-2-base u-text-11"> Магия вкусов</h4>
                <p class="u-text u-text-default u-text-12">погрузитесьт в мир чарующих ароматов и неповторимых вкусов. Насладитесь прохладой мяты в зеленом чае, таинственными чаями Тянь Гуань Инь и Шу Мей, а также завораживающими нотками череды и ароматом лаванды, создающими уникальные вкусовые ощущения.</p>
                <a href="{% url 'subscr' subscription_id=6 %}" class="u-active-black u-align-center u-border-none u-btn u-btn-round u-button-style u-hover-black u-palette-2-base u-radius-50 u-btn-7">подписаться</a>
                <h4 class="u-text u-text-default u-text-palette-2-base u-text-13">1000р/мес</h4>
                <a href="{% url 'subscription_detail' subscription_id=6 %}" class="u-align-center u-border-1 u-border-active-palette-2-base u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-none u-text-hover-palette-4-dark-1 u-text-palette-2-dark-2 u-btn-8">подробнее о подписке</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-left u-clearfix u-custom-color-5 u-section-6" id="carousel_4df9">
      <div class="u-expanded-width u-palette-2-base u-shape u-shape-rectangle u-shape-1"></div>
      <h2 class="u-align-center u-text u-text-body-alt-color u-text-default-lg u-text-default-md u-text-default-xl u-text-1">Отзывы наших подписчиков</h2>
      <div class="u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white u-list-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-1"><span class="u-file-icon u-icon u-text-palette-5-dark-2 u-icon-1"><img src="{% static 'images/ap.png'%}" alt=""></span>
              <p class="u-text u-text-default u-text-grey-50 u-text-2">Я просто вахуе с этой подписки! Мы с женой пьем чай как слоны каждый день. ЭТА ПОДПИСКА РЕШАЕТ ВСЕ ПРОБЛЕМЫ! ВСЕГО ТО ЗА 1000р в месяц! ЛЮДИ!</p>
              <img src="{% static 'images/ilya.jpg'%}" alt="Круглое изображение" class="round-image">
              <h5 class="u-text u-text-default u-text-grey-50 u-text-3"> Илья Цукерман</h5>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white">
            <div class="u-container-layout u-similar-container u-container-layout-2"><span class="u-file-icon u-icon u-text-palette-5-dark-2 u-icon-2"><img src="{% static 'images/ap.png'%}" alt=""></span>
              <p class="u-text u-text-default u-text-grey-50 u-text-4">Должен сказать, сревис MISTEA очень помог мне с решением, что относить на поминки моей бабушки. каждый месяц голову ломаю, а тут, на тебе! Решение!</p>
              <img src="{% static 'images/pasha.jpg'%}" alt="Круглое изображение" class="round-image">
              <h5 class="u-text u-text-default u-text-grey-50 u-text-5">Павел Стандровский</h5>
            </div>
          </div>
          <div class="u-align-left u-container-style u-list-item u-radius-20 u-repeater-item u-shape-round u-white">
            <div class="u-container-layout u-similar-container u-container-layout-3"><span class="u-file-icon u-icon u-text-palette-5-dark-2 u-icon-3"><img src="{% static 'images/ap.png'%}" alt=""></span>
              <p class="u-text u-text-default u-text-grey-50 u-text-6">Очень крутой крутой чай! Чай-чай мочай пей и пивом запивай! Хе-хе-хеей!!!!</p>
              <br>
              <br>
              <br>
              <img src="{% static 'images/ilya2.jpg'%}" alt="Круглое изображение" class="round-image">
              <h5 class="u-text u-text-default u-text-grey-50 u-text-7">Олечка</h5>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-2-dark-2 u-section-7" id="sec-ec0c">
      <div class="u-clearfix u-sheet u-sheet-1">
        <h2 class="u-text u-text-default u-text-1">Часто задаваемые вопросы</h2>
        <div class="u-accordion u-expanded-width u-faq u-spacing-10 u-accordion-1">
          <div class="u-accordion-item">
            <a class="active u-accordion-link u-active-white u-button-style u-hover-white u-white u-accordion-link-1" id="link-3034" aria-controls="3034" aria-selected="true">
              <span class="u-accordion-link-text">В каких городах действует подписка?</span><span class="u-accordion-link-icon u-icon u-text-grey-50 u-icon-1"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-dc39"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-dc39"><path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path></svg></span>
            </a>
            <div class="u-accordion-active u-accordion-pane u-container-style u-white u-accordion-pane-1" id="3034" aria-labelledby="link-3034">
              <div class="u-container-layout u-container-layout-1">
                <div class="fr-view u-clearfix u-rich-text u-text">
                  <p>В данный момент доставка осуществляется только по Москве.<br id="isPasted">Наша команда усердно работает над тем, чтобы в ближайшем будущем вы могли наслаждаться нашим чаем и в других городах.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-active-white u-button-style u-hover-white u-white u-accordion-link-2" id="link-f481" aria-controls="f481" aria-selected="false">
              <span class="u-accordion-link-text">Как узнать, что моя подписка оформлена?</span><span class="u-accordion-link-icon u-icon u-text-grey-50 u-icon-2"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-0a28"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-0a28"><path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path></svg></span>
            </a>
            <div class="u-accordion-pane u-container-style u-white u-accordion-pane-2" id="f481" aria-labelledby="link-f481">
              <div class="u-container-layout u-container-layout-2">
                <div class="fr-view u-clearfix u-rich-text u-text">
                  <p>После оформления, вы сможете отслеживать статус &nbsp;вашей подписки в личном кабинете.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-active-white u-button-style u-hover-white u-white u-accordion-link-3" id="link-6ef5" aria-controls="6ef5" aria-selected="false">
              <span class="u-accordion-link-text">Можно ли отменить подписку?<br>
              </span><span class="u-accordion-link-icon u-icon u-text-grey-50 u-icon-3"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-e840"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-e840"><path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path></svg></span>
            </a>
            <div class="u-accordion-pane u-container-style u-white u-accordion-pane-3" id="6ef5" aria-labelledby="link-6ef5">
              <div class="u-container-layout u-container-layout-3">
                <div class="fr-view u-clearfix u-rich-text u-text">
                  <p>Конечно, вы можете отменить или изменить подписку в личном кабинете в любой момент, пока статус посылки не будет “доставлен”.&nbsp;</p>
                  <p>
                    <br>
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-active-white u-button-style u-hover-white u-white u-accordion-link-4" id="link-1dfa" aria-controls="1dfa" aria-selected="false">
              <span class="u-accordion-link-text">Как происхожит оплата?</span><span class="u-accordion-link-icon u-icon u-text-grey-50 u-icon-4"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-f34e"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-f34e"><path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path></svg></span>
            </a>
            <div class="u-accordion-pane u-container-style u-white u-accordion-pane-4" id="1dfa" aria-labelledby="link-1dfa">
              <div class="u-container-layout u-container-layout-4">
                <div class="fr-view u-clearfix u-rich-text u-text">
                  <p>При оформлении подписки мы попросим вас привязать банковскую карту для оплаты. далее с указанной вами периодичностью (1/2/3 месяца) стоимость подписки будет списываться с карты и мы будем отправлять вам новую партию чая.</p>
                </div>
              </div>
            </div>
          </div>
          <div class="u-accordion-item">
            <a class="u-accordion-link u-active-white u-button-style u-hover-white u-white u-accordion-link-5" id="link-069e" aria-controls="069e" aria-selected="false">
              <span class="u-accordion-link-text">Я не нашел ответ на свой вопрос, что делать?<br>
              </span><span class="u-accordion-link-icon u-icon u-text-grey-50 u-icon-5"><svg class="u-svg-link" preserveAspectRatio="xMidYMin slice" viewBox="0 0 16 16" style=""><use xmlns:xlink="http://www.w3.org/1999/xlink" xlink:href="#svg-5816"></use></svg><svg class="u-svg-content" viewBox="0 0 16 16" x="0px" y="0px" id="svg-5816"><path d="M8,10.7L1.6,5.3c-0.4-0.4-1-0.4-1.3,0c-0.4,0.4-0.4,0.9,0,1.3l7.2,6.1c0.1,0.1,0.4,0.2,0.6,0.2s0.4-0.1,0.6-0.2l7.1-6
	c0.4-0.4,0.4-0.9,0-1.3c-0.4-0.4-1-0.4-1.3,0L8,10.7z"></path></svg></span>
            </a>
            <div class="u-accordion-pane u-container-style u-white u-accordion-pane-5" id="069e" aria-labelledby="link-069e">
              <div class="u-container-layout u-container-layout-5">
                <div class="fr-view u-clearfix u-rich-text u-text">
                  <p>По любым вопросам вы можете писать нам на почту mistea.help@mail.ru </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    {% endblock content %}
    
