{% extends "base.html" %}
{% load static %}
{% block style %}
<script src="{% static 'js/utils.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/lk.css' %}" media="screen">
<style>
  

  #deliveryAddress {
    border-radius: 30px; /* Добавляем закругление углов */
  }
  #deliveryForm {
    border-radius: 30px; /* Добавляем закругление углов формы */
  }
  
  #deliveryAddress {
    border-radius: 30px; /* Добавляем закругление углов текстовой области */
  }
  
  /* Добавляем закругление углов для других элементов в форме, если необходимо */
  #deliveryInterval,
  #saveChangesBtn {
    border-radius: 30px; /* Пример: закругление углов для выпадающего списка и кнопки */
  }
  
    /* Цвет кружочков радио кнопок (светло-розовый) */
    input[type="radio"] {
      -webkit-appearance: none; /* Убираем стандартный внешний вид */
      -moz-appearance: none;
      appearance: none;
      width: 16px; /* Размер кружочков */
      height: 16px;
      border-radius: 50%; /* Задаем форму кружочков */
      outline: none;
      border: 2px solid #e1cfbc; /* Цвет границы */
      margin-right: 5px; /* Расстояние между кружочками и текстом */
      position: relative;
    }
  
    /* Цвет кружочков радио кнопок при выборе (светло-розовый) */
    input[type="radio"]:checked {
      background-color: #e1cfbc;
    }
  
    /* Стили для текста меток радио кнопок */
    input[type="radio"] + label {
      cursor: pointer;
    }
    select option:hover {
      background-color: #e1cfbc;
    }
  /* Стили для всплывающего окна */
.popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 30px;
  padding: 20px;
  z-index: 1000;
}

.popup-content {
  position: relative;
}

.close {
  position: absolute;
  top: 0px;
  right: 0px;
  font-size: 20px;
  cursor: pointer;
}

/* Затемнение заднего фона */
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 900;
}
</style>
<script>
  // JavaScript для открытия и закрытия всплывающего окна
document.getElementById("editButto").addEventListener("click", function() {
  document.getElementById("editPopup").style.display = "block";
  document.getElementById("overlay").style.display = "block";
});

document.getElementById("closePopup").addEventListener("click", function() {
  document.getElementById("editPopup").style.display = "none";
  document.getElementById("overlay").style.display = "none";
});

document.getElementById("saveChangesBtn").addEventListener("click", function() {
  // Добавьте код для сохранения изменений
  document.getElementById("editPopup").style.display = "none";
  document.getElementById("overlay").style.display = "none";
});

</script>
{% endblock style %}
{% block content %}
{% if request.user.userprofile.subscription %}
    <section class="u-clearfix u-image u-section-1" id="sec-91c6" data-image-width="1920" data-image-height="1080" style="margin-top: 100px;">
      <img src="{% static 'images/bg_lk_.PNG'%}" class="background-image" alt="Фоновое изображение">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-shape-rectangle u-size-32 u-layout-cell-1">
                <div class="u-border-3 u-border-black u-border-no-bottom u-border-no-left u-border-no-top u-container-layout u-valign-bottom u-container-layout-1">
                  <h2 class="u-align-left u-custom-font u-font-raleway u-text u-text-default u-text-1">Личный кабинет<br>
                  </h2>
                  <div class="custom-expanded u-align-center u-form u-form-1">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                      <div class="u-form-group u-form-name">
                        <label for="name-a5d6" class="u-label">Логин</label>
                        <input type="text" placeholder="Логин" id="name-a5d6" name="username" class="u-input u-input-rectangle u-radius u-input-1 editable-field" required="" value="{{ user.username }}" readonly>
                      </div>
                      <div class="u-form-email u-form-group">
                        <label for="email-a5d6" class="u-label">Эл. почта</label>
                        <input type="email" placeholder="Введите Ваш email адрес" id="email" name="email" class="u-input u-input-rectangle u-radius u-input-2 editable-field" required="" value="{{ user.email }}" readonly>
                      </div>
                      <div class="u-form-group u-form-group-3">
                        <label for="text-e879" class="u-label">Имя Фамилия</label>
                        <input type="text" placeholder="Илья Попов" id="text" name="name" class="u-input u-input-rectangle u-radius u-input-3 editable-field" required="required" value="{{ user.full_name }}" readonly>
                      </div>
                      <div class="u-form-group u-form-group-4">
                        <label for="text-6e4a" class="u-label">Номер телефона</label>
                        <input type="text" id="text-6e4a" name="phone_number" class="u-input u-input-rectangle u-radius u-input-4 editable-field" placeholder="89283116006" required="required" value="{{ user.userprofile.phone_number }}" readonly>
                      </div>
                      <div class="u-align-center u-form-group u-form-submit">
                        <a href="#" id="editButton" class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-1">редактировать учетные данные</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение отправлено. </div>
                      <div class="u-form-send-error u-form-send-message"> Отправка не удалась. Пожалуйста, исправьте ошибки и попробуйте еще раз. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="0089ce5b-e9e4-631f-67ce-edd2c17f51f3">
                    </form>
                  </div>
                  <a href="#" class="u-active-black u-align-center u-border-1 u-border-black u-btn u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-2"id="deleteButton">Удалить профиль</a>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-28 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom u-container-layout-2">
                  <h3 class="u-align-right u-custom-font u-font-raleway u-text u-text-2">Подписка "{{ user_subscription }}"<br>подключена!&nbsp;
                  </h3>
                  <div class="u-expanded-width u-form u-form-2">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-1" style="padding: 10px;">
                      <div class="u-form-group u-form-name">
                        <label for="name-01b9" class="u-label">Формат чая</label>
                        <input type="text" placeholder="в пакетиках" id="name-01b9" name="tea_type" class="u-input u-input-rectangle u-radius u-input-5" required="">
                      </div>
                      <div class="u-form-email u-form-group">
                        <label for="email-01b9" class="u-label">Интервал доставки</label>
                        <input type="email" placeholder="раз в месяц" id="email-01b9" name="interval" class="u-input u-input-rectangle u-radius u-input-6" value="{% if user_profile.user_subscription.schedule == 1 %}Раз в месяц{% elif user_profile.user_subscription.schedule == 2 %}2 раза в месяц{% elif user_profile.user_subscription.schedule == 3 %}3 раза в месяц{% endif %}" required="" readonly>
                      </div>
                      <div class="u-form-group u-form-group-8">
                        <label for="text-3440" class="u-label">Адрес доставки</label>
                        <input type="text" placeholder="Красногорск Дежнева д6 кв 157" id="text-3440" name="address" class="u-input u-input-rectangle u-radius u-input-7" value="{{ user_profile.user_subscription.address }}" required="required" readonly>
                      </div>
                      <div class="u-form-group u-form-group-9">
                        <label for="text-c989" class="u-label">Способ оплаты</label>
                        <input type="text" id="text-c989" name="card" class="u-input u-input-rectangle u-radius u-input-8" placeholder="****9562" required="required">
                      </div>
                      <div class="u-align-center u-form-group u-form-submit">
                        <a href="#" class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-3" id="editButto">изменить</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение отправлено. </div>
                      <div class="u-form-send-error u-form-send-message"> Отправка не удалась. Пожалуйста, исправьте ошибки и попробуйте еще раз. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="0089ce5b-e9e4-631f-67ce-edd2c17f51f3">
                    </form>
                  </div>
                  <a href="#" class="u-active-black u-align-center u-border-1 u-border-black u-btn u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-4" id="unsubscribeButton">отписаться</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% else %}
    <section class="u-clearfix u-image u-section-2" id="sec-5d8e" data-image-width="1600" data-image-height="940">
      <img src="{% static 'images/bg_lk_.PNG'%}" class="background-image" alt="Фоновое изображение">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-shape-rectangle u-size-32 u-layout-cell-1">
                <div class="u-border-3 u-border-black u-border-no-bottom u-border-no-left u-border-no-top u-container-layout u-valign-bottom u-container-layout-1">
                  <h2 class="u-align-left u-custom-font u-font-raleway u-text u-text-default u-text-1">Личный кабинет<br>
                  </h2>
                  <div class="custom-expanded u-align-center u-form u-form-1">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                      <div class="u-form-group u-form-name">
                        <label for="name-a5d6" class="u-label">Логин</label>
                        <input type="text" placeholder="Логин" id="name-a5d6" name="login" class="u-input u-input-rectangle u-radius u-input-1" required="">
                      </div>
                      <div class="u-form-email u-form-group">
                        <label for="email-a5d6" class="u-label">Эл. почта</label>
                        <input type="email" placeholder="Введите Ваш email адрес" id="email-a5d6" name="email" class="u-input u-input-rectangle u-radius u-input-2" required="">
                      </div>
                      <div class="u-form-group u-form-group-3">
                        <label for="text-e879" class="u-label">Имя Фамилия</label>
                        <input type="text" placeholder="Илья Попов" id="text-e879" name="name" class="u-input u-input-rectangle u-radius u-input-3" required="required">
                      </div>
                      <div class="u-form-group u-form-group-4">
                        <label for="text-6e4a" class="u-label">Номер телефона</label>
                        <input type="text" id="text-6e4a" name="phone" class="u-input u-input-rectangle u-radius u-input-4" placeholder="89283116006" required="required">
                      </div>
                      <div class="u-align-center u-form-group u-form-submit">
                        <a href="#" class="u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-1">редактировать учетные данные</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                      <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение отправлено. </div>
                      <div class="u-form-send-error u-form-send-message"> Отправка не удалась. Пожалуйста, исправьте ошибки и попробуйте еще раз. </div>
                      <input type="hidden" value="" name="recaptchaResponse">
                      <input type="hidden" name="formServices" value="0089ce5b-e9e4-631f-67ce-edd2c17f51f3">
                    </form>
                  </div>
                  <a href="https://nicepage.com/c/shapes-website-templates" class="u-align-center u-border-1 u-border-black u-btn u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-2">Удалить профиль</a>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-28 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <div class="u-clearfix u-container-align-center u-expanded-width u-group-elements u-valign-middle u-group-elements-1">
                    <p class="u-align-center u-custom-font u-font-raleway u-text u-text-2">У вас еще нет подписки</p>
                    <a href="https://nicepage.com/wordpress-themes" class="u-active-white u-align-center u-black u-border-1 u-border-active-black u-border-black u-border-hover-black u-btn u-button-style u-custom-font u-font-montserrat u-hover-white u-text-body-alt-color u-text-hover-black u-btn-3" target="_blank">Подписаться</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endif %}
{% block popup %}
  <div class="popup" id="editPopup">
    <div class="popup-content">
      <span class="close" id="closePopup">&times;</span>
      <form action="#" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="editForm" style="padding: 10px;">
        <div class="u-container-layout u-container-layout-2">
          <p class="u-align-center u-custom-font u-font-raleway u-text u-text-default u-text-2">Выбе​рите формат чая</p>
          <div class="form_toggle">
            <div class="form_toggle-item item-1">
                <input id="fid-1" type="radio" name="tea_type" value="1" checked>
                <label for="fid-1">Заварной</label>
            </div>
            <div class="form_toggle-item item-3">
                <input id="fid-3" type="radio" name="tea_type" value="2">
                <label for="fid-3">В пакетиках</label>
            </div>
          
        </div>
          <p class="u-align-center u-custom-font u-font-raleway u-text u-text-default u-text-3">Выберите интервал доставки</p>
          <div class="form_toggle">
            <div class="form_toggle-item item-1">
                <input id="freq-1" type="radio" name="schedule" value="1" {% if user_profile.user_subscription.schedule == 1 %} checked {% endif %}>
                <label for="freq-1">Раз в месяц</label>
            </div>
            <div class="form_toggle-item item-2">
                <input id="freq-2" type="radio" name="schedule" value="2" {% if user_profile.user_subscription.schedule == 2 %} checked {% endif %}>
                <label for="freq-2">Раз в 2 месяца</label>
            </div>
            <div class="form_toggle-item item-3">
                <input id="freq-3" type="radio" name="schedule" value="3" {% if user_profile.user_subscription.schedule == 3 %} checked {% endif %}>
                <label for="freq-3">Раз в 3 месяца</label>
          </div>
        </div>
        </div>
      </div>        
        <div class="u-form-group" id="deliveryForm">
          <label for="deliveryAddress" class="u-label">Адрес доставки</label>
          <input type="text" id="deliveryAddress" name="address" class="u-input u-input-rectangle" value='{{ user_profile.user_subscription.address }}' required="required">

        </div>
        
        <div class="u-align-center u-form-group u-form-submit">
          <a href="#" class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-3" id="saveChangesBtn">Сохранить изменения</a>
        </div>
      </form>
    </div>
  </div>
  <div class="popup" id="unsubscribePopup">
    <div class="popup-content">
      <span class="close" id="closeUnsubscribePopup"></span>
      <p>Вы уверены, что хотите отписаться?</p>
      <div class="u-align-center u-form-group u-form-submit">
        <a href="#" class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-4" id="confirmUnsubscribeBtn">Да</a>
        <a href="#" class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-5" id="cancelUnsubscribeBtn">Нет</a>
      </div>
    </div>
  </div>
  <div class="popup" id="deletePopup">
    <div class="popup-content">
        <span class="close" id="closeDeletePopup"></span>
        <p>Вы уверены, что хотите удалить профиль?</p>
        <div class="u-align-center u-form-group u-form-submit">
            <a href="#" class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-4" id="confirmDeleteBtn">Да</a>
            <a href="#" class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-5" id="cancelDeleteBtn">Нет</a>
        </div>
    </div>
</div>

{% endblock %}
<div class="overlay" id="overlay"></div>
<script>document.addEventListener("DOMContentLoaded", function() {
  const editButto = document.getElementById("editButto");
  const editPopup = document.getElementById("editPopup");
  const overlay = document.getElementById("overlay");
  const closePopup = document.getElementById("closePopup");

  editButto.addEventListener("click", function() {
    editPopup.style.display = "block";
    overlay.style.display = "block";
  });

  closePopup.addEventListener("click", function() {
    editPopup.style.display = "none";
    overlay.style.display = "none";
  });


  // Добавьте обработчик события для кнопки "Сохранить изменения", если нужно
  // const saveChangesBtn = document.getElementById("saveChangesBtn");
  // saveChangesBtn.addEventListener("click", function() {
  //   // Добавьте код для сохранения изменений
  //   editPopup.style.display = "none";
  //   overlay.style.display = "none";
  // });
});
  const unsubscribeButton = document.getElementById("unsubscribeButton");
  const unsubscribePopup = document.getElementById("unsubscribePopup");
  const closeUnsubscribePopup = document.getElementById("closeUnsubscribePopup");
  const confirmUnsubscribeBtn = document.getElementById("confirmUnsubscribeBtn");
  const cancelUnsubscribeBtn = document.getElementById("cancelUnsubscribeBtn");

  unsubscribeButton.addEventListener("click", function() {
    unsubscribePopup.style.display = "block";
    overlay.style.display = "block";
  });

  closeUnsubscribePopup.addEventListener("click", function() {
    unsubscribePopup.style.display = "none";
    overlay.style.display = "none";
  });

  cancelUnsubscribeBtn.addEventListener("click", function() {
    unsubscribePopup.style.display = "none";
    overlay.style.display = "none";
  });

  confirmUnsubscribeBtn.addEventListener("click", function() {
    // Добавьте код для обработки подтверждения отписки
    unsubscribePopup.style.display = "none";
    overlay.style.display = "none";
  });
  document.addEventListener("DOMContentLoaded", function() {
    const deleteButton = document.getElementById("deleteButton");
    const deletePopup = document.getElementById("deletePopup");
    const closeDeletePopup = document.getElementById("closeDeletePopup");
    const confirmDeleteBtn = document.getElementById("confirmDeleteBtn");
    const cancelDeleteBtn = document.getElementById("cancelDeleteBtn");

    deleteButton.addEventListener("click", function() {
        deletePopup.style.display = "block";
        overlay.style.display = "block";
    });

    closeDeletePopup.addEventListener("click", function() {
        deletePopup.style.display = "none";
        overlay.style.display = "none";
    });

    cancelDeleteBtn.addEventListener("click", function() {
        deletePopup.style.display = "none";
        overlay.style.display = "none";
    });

    confirmDeleteBtn.addEventListener("click", function() {
        // Добавьте код для обработки подтверждения удаления
        deletePopup.style.display = "none";
        overlay.style.display = "none";
    });
});
</script>
{% endblock content %}