{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/lk.css' %}" media="screen">
<style>
  #messageContainer {
    color: red;
    margin-top: 10px;
}
</style>
{% endblock style %}
{% block content %}
{% if request.user.userprofile.subscription %}
    <section class="u-clearfix u-image u-section-1" id="sec-91c6" data-image-width="1920" data-image-height="1080" style="margin-top: 100px;">
      <img src="{% static 'images/bg_lk_.PNG'%}" class="background-image" data-image-width="1920" data-image-height="1080" alt="Фоновое изображение">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-shape-rectangle u-size-32 u-layout-cell-1">
                <div class="u-border-3 u-border-black u-border-no-bottom u-border-no-left u-border-no-top u-container-layout u-valign-bottom u-container-layout-1">
                  <h2 class="u-align-left u-custom-font u-font-raleway u-text u-text-default u-text-1">Личный кабинет<br>
                  </h2>
                  <div class="custom-expanded u-align-center u-form u-form-1">
                    <form method="post" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                      {% csrf_token %%}
                      <div class="u-form-group u-form-name">
                        <label for="name-a5d6" class="u-label">Логин</label>
                        <input type="text" placeholder="Логин" id="name-a5d6" name="username" class="u-input u-input-rectangle u-radius u-input-1" value="{{ user.username }}" readonly>
                      </div>
                      <div class="u-form-email u-form-group">
                        <label for="email-a5d6" class="u-label">Эл. почта</label>
                        <input type="email" placeholder="Введите Ваш email адрес" id="email" name="email" class="u-input u-input-rectangle u-radius u-input-2 editable-field" value="{{ user.email }}" readonly>
                      </div>
                      <div class="u-form-group u-form-group-3">
                        <label for="text-e879" class="u-label">Имя Фамилия</label>
                        <input type="text" placeholder="Илья Попов" id="text" name="fullname" class="u-input u-input-rectangle u-radius u-input-3 editable-field" value="{{ user_profile.user_subscription.fullname }}" readonly>
                      </div>
                      <div class="u-form-group u-form-group-4">
                        <label for="text-6e4a" class="u-label">Номер телефона</label>
                        <input type="text" id="text-6e4a" name="phone_number" class="u-input u-input-rectangle u-radius u-input-4 editable-field" placeholder="+7 (999) 00 00" value="{{ user_profile.user_subscription.phone_number }}" readonly>
                      </div>
                      <div class="u-align-center u-form-group u-form-submit">
                        <a class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-2" id="editProfileBtn">Редактировать учетные данные</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                    </form>
                  </div>
                  <a class="u-active-black u-align-center u-border-1 u-border-black u-btn u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-2"id="deleteButton">Удалить профиль</a>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-28 u-layout-cell-2">
                <div class="u-container-layout u-valign-bottom u-container-layout-2">
                  <h3 class="u-align-right u-custom-font u-font-raleway u-text u-text-2">Подписка "{{ user_profile.user_subscription.sub_id }}"<br>подключена!&nbsp;
                  </h3>
                  <h3 class="u-align-right u-custom-font u-font-raleway u-text u-text-2" style="color: #9f9888">действительна еще {{ user_profile.days_remaining }} дней</h3>
                  <div class="u-expanded-width u-form u-form-2">
                    <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form-1" style="padding: 10px;">
                      <div class="u-form-group u-form-name">
                        <label for="name-01b9" class="u-label">Формат чая</label>
                        <input type="text" placeholder="в пакетиках" id="name-01b9" name="tea_type" class="u-input u-input-rectangle u-radius u-input-5" required="" value="{% if user_profile.user_subscription.tea_type == 1 %}Заварной{% elif user_profile.user_subscription.tea_type == 2 %}В пакетиках{% endif %}" readonly>
                      </div>
                      <div class="u-form-email u-form-group">
                        <label for="email-01b9" class="u-label">Интервал доставки</label>
                        <input type="email" placeholder="раз в месяц" id="email-01b9" name="interval" class="u-input u-input-rectangle u-radius u-input-6" value="{% if user_profile.user_subscription.schedule == 1 %}Раз в месяц{% elif user_profile.user_subscription.schedule == 2 %}2 раза в месяц{% elif user_profile.user_subscription.schedule == 3 %}3 раза в месяц{% endif %}" required="" readonly>
                      </div>
                      <div class="u-form-group u-form-group-8">
                        <label for="text-3440" class="u-label">Адрес доставки</label>
                        <input type="text" placeholder="Красногорск Дежнева д6 кв 157" id="text-3440" name="address" class="u-input u-input-rectangle u-radius u-input-7" value="{{ user_profile.user_subscription.address }}" required="required" readonly>
                      </div>
                      <div class="u-form-group u-form-group-9">
                        <label for="text-c989" class="u-label">Способ оплаты</label>
                        <input type="text" id="text-c989" name="card" class="u-input u-input-rectangle u-radius u-input-8" placeholder="****9562" value="TEST CARD - 5555 5555 5555 4477" required="required">
                      </div>
                      <div class="u-align-center u-form-group u-form-submit">
                        <a class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-3" id="editSubButton">изменить</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                    </form>
                  </div>
                  <a class="u-active-black u-align-center u-border-1 u-border-black u-btn u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-4" id="unsubscribeButton">отписаться</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% else %}
    <section class="u-clearfix u-image u-section-2" id="sec-5d8e" data-image-width="1920" data-image-height="1080" style="margin-top: 100px;">
      <img src="{% static 'images/bg_lk_.PNG'%}" class="background-image" alt="Фоновое изображение" style="margin-top: 100px;">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="data-layout-selected u-clearfix u-layout-wrap u-layout-wrap-1">
          <div class="u-layout">
            <div class="u-layout-row">
              <div class="u-container-style u-layout-cell u-shape-rectangle u-size-32 u-layout-cell-1">
                <div class="u-border-3 u-border-black u-border-no-bottom u-border-no-left u-border-no-top u-container-layout u-valign-bottom u-container-layout-1">
                  <h2 class="u-align-left u-custom-font u-font-raleway u-text u-text-default u-text-1">Личный кабинет<br>
                  </h2>
                  <div class="custom-expanded u-align-center u-form u-form-1">
                    <form method="post" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                      {% csrf_token %%}
                      <div class="u-form-group u-form-name">
                        <label for="name-a5d6" class="u-label">Логин</label>
                        <input type="text" placeholder="Логин" id="name-a5d6" name="username" class="u-input u-input-rectangle u-radius u-input-1" value="{{ user.username }}" readonly>
                      </div>
                      <div class="u-form-email u-form-group">
                        <label for="email-a5d6" class="u-label">Эл. почта</label>
                        <input type="email" placeholder="Введите Ваш email адрес" id="email" name="email" class="u-input u-input-rectangle u-radius u-input-2 editable-field" value="{{ user.email }}" readonly>
                      </div>
                      <div class="u-form-group u-form-group-3">
                        <label for="text-e879" class="u-label">Имя Фамилия</label>
                        <input type="text" placeholder="Илья Попов" id="text" name="fullname" class="u-input u-input-rectangle u-radius u-input-3 editable-field" value="{{ user_profile.user_subscription.fullname }}" readonly>
                      </div>
                      <div class="u-form-group u-form-group-4">
                        <label for="text-6e4a" class="u-label">Номер телефона</label>
                        <input type="text" id="text-6e4a" name="phone_number" class="u-input u-input-rectangle u-radius u-input-4 editable-field" placeholder="+7 (999) 00 00" value="{{ user_profile.user_subscription.phone_number }}" readonly>
                      </div>
                      <div class="u-align-center u-form-group u-form-submit">
                        <a class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-2" id="editProfileBtn">Редактировать учетные данные</a>
                        <input type="submit" value="submit" class="u-form-control-hidden">
                      </div>
                    </form>
                  </div>
                  <a class="u-active-black u-align-center u-border-1 u-border-black u-btn u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-2"id="deleteButton">Удалить профиль</a>
                </div>
              </div>
              <div class="u-align-center u-container-style u-layout-cell u-shape-rectangle u-size-28 u-layout-cell-2">
                <div class="u-container-layout u-valign-middle u-container-layout-2">
                  <div class="u-clearfix u-container-align-center u-expanded-width u-group-elements u-valign-middle u-group-elements-1">
                    <p class="u-align-center u-custom-font u-font-raleway u-text u-text-2">У вас еще нет подписки</p>
                    <a href="{% url 'homepage' %}#subs" class="u-active-white u-align-center u-black u-border-1 u-border-active-black u-border-black u-border-hover-black u-btn u-button-style u-custom-font u-font-montserrat u-hover-white u-text-body-alt-color u-text-hover-black u-btn-3" target="_blank">Подписаться</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
{% endif %}
{% block popup %}
  <div class="popup" id="editPopup">
    <div class="popup-content">
      <span class="close" id="closePopup">&times;</span>
      <form action="#" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="editForm" style="padding: 10px;">
        {% csrf_token %}
        <div class="u-container-layout u-container-layout-2">
          <p class="u-align-center u-custom-font u-font-raleway u-text u-text-default u-text-2">Выбе​рите формат чая</p>
          <div class="form_toggle">
            <div class="form_toggle-item item-1">
                <input id="fid-1" type="radio" name="tea_type" value="1" checked>
                <label for="fid-1">Заварной</label>
            </div>
            <div class="form_toggle-item item-3">
                <input id="fid-3" type="radio" name="tea_type" value="2">
                <label for="fid-3">В пакетиках</label>
            </div>
          
        </div>
          <p class="u-align-center u-custom-font u-font-raleway u-text u-text-default u-text-3">Выберите интервал доставки</p>
          <div class="form_toggle">
            <div class="form_toggle-item item-1">
                <input id="freq-1" type="radio" name="schedule" value="1" {% if user_profile.user_subscription.schedule == 1 %} checked {% endif %}>
                <label for="freq-1">Раз в месяц</label>
            </div>
            <div class="form_toggle-item item-2">
                <input id="freq-2" type="radio" name="schedule" value="2" {% if user_profile.user_subscription.schedule == 2 %} checked {% endif %}>
                <label for="freq-2">Раз в 2 месяца</label>
            </div>
            <div class="form_toggle-item item-3">
                <input id="freq-3" type="radio" name="schedule" value="3" {% if user_profile.user_subscription.schedule == 3 %} checked {% endif %}>
                <label for="freq-3">Раз в 3 месяца</label>
          </div>
        </div>
        </div>
      </div>        
        <div class="u-form-group" id="deliveryForm">
          <label for="deliveryAddress" class="u-label">Адрес доставки</label>
          <input type="text" id="deliveryAddress" name="address" class="address-input u-input u-input-rectangle" value='{{ user_profile.user_subscription.address }}' required="required">

        </div>
        
        <div class="u-align-center u-form-group u-form-submit">
          <a class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-3" id="saveChangesBtn">Сохранить изменения</a>
        </div>
      </form>
    </div>
  </div>
<div class="popup" id="editProfilePopup">
  <div class="popup-content">
      <span class="close" id="closeProfilePopup">&times;</span>
      <form method="post" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="editProfileForm" style="padding: 10px;">
          {% csrf_token %}
          <div class="u-form-email u-form-group">
              <label for="editEmail" class="u-label">Эл. почта</label>
              <input type="email" placeholder="Введите Ваш email адрес" id="editEmail" name="email" class="u-input u-input-rectangle"  style="border-radius: 30px;" required pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" value="{{ user.email }}">
          </div>
          <div class="u-form-group u-form-group-3">
              <label for="editFullname" class="u-label">Имя Фамилия</label>
              <input type="fullname" placeholder="Илья Попов" id="editFullname" name="fullname" class="u-input u-input-rectangle" maxlength="50"  style="border-radius: 30px;" required value="{{ user_profile.user_subscription.fullname }}">
          </div>
          <div class="u-form-group u-form-group-4">
              <label for="editPhoneNumber" class="u-label">Номер телефона</label>
              <input type="phone2numeric" id="editPhoneNumber" name="phone_number" class="u-input u-input-rectangle border-lk" placeholder="+7XXXXXXX" style="border-radius: 30px;" required pattern="\+\d{11}" value="{{ user_profile.user_subscription.phone_number }}">
          </div>
          <div class="u-align-center u-form-group u-form-submit">
              <a class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-1" id="saveProfileChangesBtn">Сохранить изменения</a>
              <div id="messageContainer"></div>
          </div>
      </form>
  </div>
</div>


  <div class="popup" id="unsubscribePopup">
    <div class="popup-content">
      <span class="close" id="closeUnsubscribePopup"></span>
      <p>Вы уверены, что хотите отписаться?</p>
      
      <form id="unsubscribeForm">
        <div class="u-align-center u-form-group u-form-submit">
          <a class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-4" data-csrf="{{ csrf_token }}" data-delete-url="{% url 'delete_subscription' %}" id="confirmUnsubscribeBtn">Да</a>
          <a class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-5" id="cancelUnsubscribeBtn">Нет</a>
        </div>
      </form> 
    </div>
  </div>
  
  <div class="popup" id="deletePopup">
    <div class="popup-content">
      <form action="{% url 'delete_profile' %}" method="post">
        {% csrf_token %}
        <span class="close" id="closeDeletePopup"></span>
        <p>Вы уверены, что хотите удалить профиль?</p>
        <div class="u-align-center u-form-group u-form-submit">
            <a type="submit" class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-4" id="confirmDeleteBtn" onclick="submitFormAndRedirect()">Да</a>
            <a class="u-active-black u-border-1 u-border-black u-btn u-btn-submit u-button-style u-hover-black u-text-black u-text-hover-white u-white u-btn-5" id="cancelDeleteBtn">Нет</a>
        </div>
    </div>
</div>

{% endblock %}
<div class="overlay" id="overlay"></div>
<script src="{% static 'js/popup.js' %}"></script>
<script src="{% static 'js/utils.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
$(document).ready(function() {
  $('#saveChangesBtn').on('click', function() {
     var formData = {
        'tea_type': $('input[name=tea_type]:checked').val(),
        'schedule': $('input[name=schedule]:checked').val(),
        'address': $('#deliveryAddress').val(),
        'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),  // Включение CSRF-токена
     };

     $.ajax({
        type: 'POST',
        url: '/user/save-changes/',
        data: formData,
        success: function(response) {
           console.log(response);
           // Дополнительные действия при успешном сохранении
           window.location.reload();
        },
        error: function(error) {
           console.log('AJAX Error:', error);
        }
     });
  });
});
$(document).ready(function() {
$('#editProfileBtn').on('click', function() {
    $('#editProfilePopup').css('display', 'block');
    $('#overlay').css('display', 'block');
});

$('#closeProfilePopup').on('click', function() {
    $('#editProfilePopup').css('display', 'none');
    $('#overlay').css('display', 'none');
});

$('#saveProfileChangesBtn').on('click', function() {
    saveProfileChanges();
});

function closeProfileEditPopup() {
    $('#editProfilePopup').css('display', 'none');
    $('#overlay').css('display', 'none');
}

function saveProfileChanges() {
  var email = $('#editEmail').val();
  var fullname = $('#editFullname').val();
  var phoneNumber = $('#editPhoneNumber').val();

  var emailRegex = /^[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$/;

  var messageContainer = $('#messageContainer');

  messageContainer.empty();

  if (!emailRegex.test(email)) {
      messageContainer.text('Пожалуйста, введите корректный Email адрес');
      return;
  }

  if (fullname.length > 50) {
      messageContainer.text('Имя и Фамилия должны быть длинной не более 50 символов');
      return;
  }
  var phoneRegex = /^\+\d{11}$/;
  if (!phoneRegex.test(phoneNumber)) {
      messageContainer.text('Пожалуйста, введите номер в формате +7XXXXXXX.');
      return;
  }
  var formData = {
      'email': email,
      'fullname': fullname,
      'phone_number': phoneNumber,
      'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
  };

  var formData = {
      'email': email,
      'fullname': fullname,
      'phone_number': phoneNumber,
      'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val(),
  };


    $.ajax({
        type: 'POST',
        url: '/user/save-profile-changes/',
        data: formData,
        success: function(response) {
            console.log(response);
            window.location.reload();
        },
        error: function(error) {
            console.log('AJAX Error:', error);
        }
    });
}
});

document.addEventListener("DOMContentLoaded", function() {
  const deleteButton = document.getElementById("deleteButton");
  const deletePopup = document.getElementById("deletePopup");
  const closeDeletePopup = document.getElementById("closeDeletePopup");
  const confirmDeleteBtn = document.getElementById("confirmDeleteBtn");
  const cancelDeleteBtn = document.getElementById("cancelDeleteBtn");

  deleteButton.addEventListener("click", function() {
      deletePopup.style.display = "block";
      overlay.style.display = "block";
  });

  closeDeletePopup.addEventListener("click", function() {
      deletePopup.style.display = "none";
      overlay.style.display = "none";
  });

  cancelDeleteBtn.addEventListener("click", function() {
      deletePopup.style.display = "none";
      overlay.style.display = "none";
  });

  confirmDeleteBtn.addEventListener("click", function() {
      deletePopup.style.display = "none";
      overlay.style.display = "none";
  });
});

document.getElementById('confirmUnsubscribeBtn').addEventListener('click', function(event) {
event.preventDefault();
var deleteUrl = this.getAttribute('data-delete-url');
var csrf = this.getAttribute('data-csrf')
var form = document.createElement('form');
form.method = 'post';
form.action = deleteUrl;
var csrf_token = document.createElement('input');
csrf_token.type = 'hidden';
csrf_token.name = 'csrfmiddlewaretoken';
csrf_token.value = csrf;
form.appendChild(csrf_token);

document.body.appendChild(form);
form.submit();
});

document.getElementById('cancelUnsubscribeBtn').addEventListener('click', function(event) {
});

function submitFormAndRedirect() {
  document.forms[0].submit();
  window.location.href = "{% url 'delete_profile' %}";
}
</script>
{% endblock content %}