{% extends "base.html" %}
{% load static %}
{% block style %}  <link rel="stylesheet" href="{% static 'css/reg.css' %}" media="screen">{% endblock style %}
{% block content %}
<section class="u-clearfix u-image u-section-3" id="sec-f60a" data-image-width="1920" data-image-height="940">
    <img src="{% static 'images/fox_find.PNG'%}" class="background-image" alt="Фоновое изображение">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-center u-container-style u-group u-radius-30 u-shape-round u-white u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <h3 class="u-align-center u-text u-text-default u-text-1">Восстановление пароля</h3>
          <h5 class="u-align-center u-text u-text-2">Забыли пароль? Введите свой адрес электронной почты и мы вышлем инструкцию, как установить новый пароль.</h5>
          <div class="custom-expanded u-align-center u-form u-form-checks-spacing-0 u-form-1">
            <form method="post" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                {% csrf_token %}
              <div class="u-form-email u-form-group u-form-group-1">
                <label for="email-06b6" class="u-custom-font u-heading-font u-label u-label-1">Эл. почта</label>
                <input type="email" placeholder="Введите Ваш email адрес" id="email-06b6" name="email" class="u-custom-font u-heading-font u-input u-input-rectangle u-radius-25 u-input-1" required="">
              </div>
              <div class="u-align-center u-form-group u-form-submit">
                <a class="u-border-none u-btn u-btn-round u-button-style u-btn-submit u-custom-color-3 u-hover-custom-color-1 u-radius-25 u-btn-1" onclick="submitFormAndRedirect()">Отправить</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
          </div>
        </div>
      </div>
    </div>
    <script>
        function submitFormAndRedirect() {
            document.forms[0].submit();
            window.location.href = "{% url 'password_reset_done' %}";
        }
    </script>
</section>
{% endblock content %}