{% extends "base.html" %}
{% load static %}
{% block style %}  <link rel="stylesheet" href="{% static 'css/reg.css' %}" media="screen">{% endblock style %}
{% block content %}
    {% if validlink %}
<section class="u-clearfix u-image u-section-4" id="sec-c834" data-image-width="1920" data-image-height="940" style="padding: 80px;">
    <img src="{% static 'images/bg_lk.PNG'%}" class="background-image" alt="Фоновое изображение">
    <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-align-center u-container-style u-group u-radius-30 u-shape-round u-white u-group-1">
        <div class="u-container-layout u-container-layout-1">
          <h3 class="u-align-center u-text u-text-default u-text-1">Введите новый пароль</h3>
          <div class="custom-expanded u-align-center u-form u-form-checks-spacing-0 u-form-1">
            <form method="post" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
                {% csrf_token %}
              <div class="u-form-group u-form-group-1">
                <label for="id_new_password1" class="u-custom-font u-heading-font u-label u-label-1">Новый пароль</label>
                <input type="password" id="id_new_password1" name="new_password1" class="u-custom-font u-heading-font u-input u-input-rectangle u-radius-25 u-input-1" required="required">
              </div>
              <div class="u-form-group u-form-name">
                <label for="id_new_password2" class="u-custom-font u-heading-font u-label u-label-2">Подтвердите пароль</label>
                <input type="password" id="id_new_password2" name="new_password2" class="u-custom-font u-heading-font u-input u-input-rectangle u-radius-25 u-input-2" required="required">
              </div>
              {% if form.errors %}
                {{ error }}
              {% endif %}
              <div class="u-align-center u-form-group u-form-submit">
                <a class="u-border-none u-btn u-btn-round u-button-style u-btn-submit u-custom-color-3 u-hover-custom-color-1 u-radius-25 u-btn-1" onclick="submitFormAndRedirect()">Изменить пароль</a>
                <input type="submit" value="submit" class="u-form-control-hidden">
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <script>
        function submitFormAndRedirect() {
            document.forms[0].submit();
            window.location.href = "{% url 'password_reset_complete' %}";
        }
    </script>
  </section>
  {% endif %}
{% endblock content %}