{% extends 'base.html'%}
<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,400;0,700;0,900;1,400&display=swap" rel="stylesheet">    <link rel="stylesheet" href="static/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-9ziF6uSo6zvb5ZXnIn00z5KxX4Bb2Pw5Lq2n7c5EmSka3ayDbP/XvzPgF+9bcof3C" crossorigin="anonymous">
    <title>Mistea - Чайные подписки</title>
</head>
<body>
{% block content %}
<img src="static/images/bg_green.PNG" class="background-image" alt="Фоновое изображение">
    <div class="header">
        <div class="invitation">
            <h1>Welcome to the Mystery Tea Club!</h1>
            <p>Подпишитесь прямо сейчас и начните чайное путешествие!</p>
            <a class="button" href="{% url 'subs' %}">Подписаться</a>
        </div>
    </div>

<!-- почему удобно -->
<div class="container mt-4">
    <h1 class= "text-center">Почему подписка на чай - это удобно?</h1>
    <div class="row">
        <div class="col">
            <div class="bg-transparent p-3 text-center">
                <img src="static/images/Чай-время.png" alt="Изображение 1" class="img-fluid">
                <h5>Экономия времени</h5>
                <p>Мы доставим чай прямо к вашей двери, освобождая вас от забот о покупках</p>
            </div>
        </div>
        <div class="col">
            <div class="bg-transparent p-3 text-center">
                <img src="static/images/Чайник-деньги.png" alt="Изображение 2" class="img-fluid">
                <h5>Экономия денег</h5>
                <p>Подписка на чай позволяет получать чай по сниженной цене, по сравнению с регулярными покупками в магазинах.</p>
            </div>
        </div>
        <div class="col">
            <div class="bg-transparent p-3 text-center">
                <img src="static/images/Листья-качество.png" alt="Изображение 3" class="img-fluid">
                <h5>Качество и свежесть</h5>
                <p>Мы гарантируем, что все чаи, полученные вами в рамках подписки, всегда будут свежие и высочайшего качества.</p>
            </div>
        </div>
        <div class="col">
            <div class="bg-transparent p-3 text-center">
                <img src="static/images/Подарок.png" alt="Изображение 4" class="img-fluid">
                <h5>Подарки</h5>
                <p>Периодически мы добавляем ваши заказы подарки, чтобы сделать вашу подписку на чай ещё более увлекательной.</p>
            </div>
        </div>
    </div>
</div>

<!-- как работает -->
<div class="container mt-4">
    <div class="row">
        <div class="col-md-4">
            <div class="block">
                <p>Текст 1</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="line"></div>
        </div>
        <div class="col-md-4">
            <div class="block">
                <p>Текст 2</p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="line"></div>
        </div>
        <div class="col-md-4">
            <div class="block">
                <p>Текст 3</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="line"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <div class="block">
                <p>Текст 4</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="line"></div>
        </div>
        <div class="col-md-4">
            <div class="block">
                <p>Текст 5</p>
            </div>
        
        </div>
    </div>
</div>
{% endblock content %}
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>

