<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mistea</title>
    <!-- Подключение стилей Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="static/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Frank+Ruhl+Libre:wght@300;400;500;700;900&family=Karma:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

    <style>
        /* Стиль кнопок без наведения */
        .btn-primary {
            background-color: #c27d7d; 
            border-color: #c27d7d; 
        }

        /* Стиль кнопок при наведении */
        .btn-primary:hover {
            background-color: #fff; /* Белый цвет */
            color: #c27d7d; /* Розовый цвет */
            border-color: #c27d7d; /* Розовая обводка */
        }
    </style>
</head>
<body>

<!-- Хедер с меню -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">MISTEA</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="#">Главная</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Чайный ассортимент</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Подписки</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">О доставке</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">О нас</a>
            </li>
        </ul>
    </div>
    <ul class="navbar-nav ml-auto"> <!-- Правый край -->
        <li class="nav-item">
            <a class="nav-link" href="ссылка_на_личный_кабинет">Личный кабинет</a>
        </li>
    </ul>
</nav>

<!-- Контентная часть -->
<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <h1>Join the Mistery Tea Club with Mistea!</h1>
            <p>Каждый месяц участники нашего тайного чайного клуба получают волшебную посылку, наполненную разнообразными и удивительными сортами чая.</p>
            <p>Готовы открыть для себя новые вкусы и чудеса? Подпишитесь прямо сейчас и начните чайное путешествие!</p>
            <a class="btn btn-primary btn-lg" href="ссылка_на_страницу_подписок" role="button">Подписаться</a>
        </div>
        <div class="col-md-6">
            <img src="static/images/slide1.png" alt="Изображение чая" class="img-fluid", style="width: 100%;" >
        </div>
    </div>

 <!-- Элемент 1: Описание вашей компании и миссии -->
 <div style="background-color: #ffebf3; padding: 20px;">
    <p>Мы - ваш надежный партнер в мире чая. Наша миссия - предоставить вам лучшие чаи по подписке.</p>
</div>
    
 <!-- Элемент 2: Преимущества подписки -->
 <h2>Преимущества подписки на чай:</h2>
 <ul>
     <li>Экономия времени и денег</li>
     <li>Регулярная доставка вашего любимого чая</li>
     <li>Широкий выбор чаев в подписках</li>
 </ul>

 <!-- Элемент 6: Примеры чаев в подписках -->
 <h2>Примеры чаев в наших подписках:</h2>
 <p>Выберите из разнообразных сортов чая в наших подписках, включая черный, зеленый, травяной чай и многое другое.</p>
 
 <!-- Элемент 8: Форма обратной связи -->
 <h2>Свяжитесь с нами</h2>
 <p>Если у вас есть вопросы или комментарии, пожалуйста, свяжитесь с нами:</p>
    <form>
        <div class="form-group">
            <label for="name">Имя:</label>
            <input type="text" class="form-control" id="name">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" class="form-control" id="email">
        </div>
        <div class="form-group">
            <label for="message">Сообщение:</label>
            <textarea class="form-control" id="message" rows="4"></textarea>
        </div>
        <button type="submit" class="btn btn-primary">Отправить</button>
    </form>
</div>

<!-- Подключение скриптов Bootstrap -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
