<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/css/styles1.css">
    <title>Mistea - Чайные подписки</title>
</head>
<body>
    <div class="header">
        <img src="static/images/bg.PNG" class="background-image" alt="Фоновое изображение">
        <div class="logo">
            <img src="static/images/logo.png" alt="Логотип Mistea">
        </div>
        <nav>
            <ul>
                <li><a href="#about">О нас</a></li>
                <li><a href="#delivery">О доставке</a></li>
                <li><a href="tea-list.html">Чайный ассортимент</a></li>
                <li><a href="subs.html">Подписки</a></li>
            </ul>
        </nav>
        <div class="invitation">
            <h1>Join the Mistery Tea Club with Mistea!</h1>
            <p>Каждый месяц участники нашего тайного чайного клуба получают волшебную посылку, наполненную разнообразными и удивительными сортами чая.</p>
            <p>Готовы открыть для себя новые вкусы и чудеса? Подпишитесь прямо сейчас и начните чайное путешествие!</p>
            <a href="subscribe.html" class="subscribe-button">Подписаться</a>
        </div>
    </div>
    <div class="content" id="about">
        <!-- О нас, информация о проекте, почему подписка на чай удобна и т.д. -->
    </div>
    <div class="content" id="delivery">
        <!-- Часто задаваемые вопросы о доставке, подписках и т.д. -->
    </div>
    <div class="contact-form">
        <!-- Форма для заполнения данных и контакты -->
    </div>
    <footer>
        <!-- Информация о контактах, адресе и т.д. -->
    </footer>
</body>
</html>
