{% extends "base.html" %}
{% load static %}
{% block style %}
<link rel="stylesheet" href="{% static 'css/order.css' %}" media="screen">
<link rel="stylesheet" href="{% static 'css/b_profile.css' %}" media="screen">
{% endblock style %}
{% block content %}

    <section class="u-clearfix u-image u-section-1" id="carousel_bad5" data-image-width="1920" data-image-height="940" style="margin-top: 10px;">
      <img src="{% static 'images/bg_reg.PNG'%}" class="background-image" alt="Фоновое изображение">
      <div class="u-clearfix u-sheet u-sheet-1">
      <div class="u-clearfix u-sheet u-sheet-1">
        <form method="post">
          {% csrf_token %}
         <div class="u-container-align-center u-container-style u-group u-preserve-proportions u-radius-50 u-shape-round u-group-1">
          <div class="u-container-layout u-container-layout-1">
            <h2 class="u-align-center u-custom-font u-font-raleway u-text u-text-default u-text-1">Оформление подписки<br><b>{{ order.name }}</b>
            </h2>
            <div class="custom-expanded u-container-style u-group u-group-2">
              <div class="u-container-layout u-container-layout-2">
                <p class="u-align-center u-custom-font u-font-raleway u-text u-text-default u-text-2">Выбе​рите формат чая</p>
                <div class="form_toggle">
                  <div class="form_toggle-item item-1">
                      <input id="fid-1" type="radio" name="tea_type" value="1" checked>
                      <label for="fid-1">Заварной</label>
                  </div>
                  <div class="form_toggle-item item-3">
                      <input id="fid-3" type="radio" name="tea_type" value="2">
                      <label for="fid-3">В пакетиках</label>
                  </div>
                
              </div>
                <p class="u-align-center u-custom-font u-font-raleway u-text u-text-default u-text-3">Выберите интервал доставки</p>
                <div class="form_toggle">
                  <div class="form_toggle-item item-1">
                      <input id="freq-1" type="radio" name="schedule" value="1" checked>
                      <label for="freq-1">Раз в месяц</label>
                  </div>
                  <div class="form_toggle-item item-2">
                      <input id="freq-2" type="radio" name="schedule" value="2">
                      <label for="freq-2">Раз в 2 месяца</label>
                  </div>
                  <div class="form_toggle-item item-3">
                      <input id="freq-3" type="radio" name="schedule" value="3">
                      <label for="freq-3">Раз в 3 месяца</label>
                </div>
              </div>
              </div>
            </div>
            <div class="custom-expanded u-form u-form-1">
              <form class="u-clearfix u-form-spacing-20 u-form-vertical" source="email" name="form" style="padding: 10px;">
                <div class="u-form-group u-form-partition-factor-2 u-form-phone u-form-group-1">
                  <label for="phone-1786" class="u-custom-font u-font-raleway u-label u-label-1">Телефон</label>
                  <input type="tel" pattern="\+?\d{0,3}[\s\(\-]?([0-9]{2,3})[\s\)\-]?([\s\-]?)([0-9]{3})[\s\-]?([0-9]{2})[\s\-]?([0-9]{2})" placeholder="Введите телефон в формате +7ХХХХХХХХХХ" id="editPhoneNumber" name="phone_number" class="u-border-1 u-border-grey-80 u-input u-input-rectangle u-radius u-input-1" required="">
                </div>
                <div class="u-form-group u-form-partition-factor-2">
                  <label for="name-5db7" class="u-custom-font u-font-raleway u-label u-label-2">Имя и Фамилия</label>
                  <input type="text" placeholder="Иван Иванов" id="editFullname" name="fullname" class="u-border-1 u-border-grey-80 u-input u-input-rectangle u-radius u-input-2" required="">
                  {% for error in form.fullname.errors %}
                  <label class="u-custom-font u-font-raleway u-label u-label-2">{{ error }}</label>
                  {% endfor %}
                </div>
                <div class="u-form-date u-form-group u-form-group-3">
                  <label for="date-ad35" class="u-custom-font u-font-raleway u-label u-label-3">Дата желаемой первой доставки</label>
                  <input type="text" readonly="readonly" placeholder="DD.MM.YYYY" id="date-ad35" name="date_arrive" class="u-border-1 u-border-grey-80 u-input u-input-rectangle u-radius u-input-3" required="" data-date-format="dd.mm.yyyy">
                </div>
                <div class="u-form-group u-form-group-4">
                  <label for="text-f02e" class="u-custom-font u-font-raleway u-label u-label-4">Адрес в формате (Город (область), улица, дом, подъезд, квартира)</label>
                  <input type="text" placeholder="Enter your adress" id="text-f02e" name="address" class="u-border-1 u-border-grey-80 u-input u-input-rectangle u-radius u-white u-input-4" required="required">
                </div>
                <div class="u-form-group u-form-message">
                  <label for="message-5db7" class="u-custom-font u-font-raleway u-label u-label-5">Пожелания, сообщение курьеру (код домофона и прочее)</label>
                  <textarea placeholder="Enter your message" rows="4" cols="50" id="message-5db7" name="message" class="u-border-1 u-border-grey-80 u-input u-input-rectangle u-radius u-input-5" required=""></textarea>
                </div>           
                <div class="u-align-center u-form-group u-form-submit">
                  <p class=" h4-raleway u-text-4">
                    Сумма к оплате {{ order.price }} р.
                </p>
                  <center><button class="u-black u-border-none u-btn u-btn-round u-button-style u-hover-custom-color-6 u-radius-30" id="toPay">Перейти к оплате</button></center>
                </script>
                </div>
              </form>
            </div>
          </div>
        </form>
        </div>
      </div>
    </section>
  
</body>
{% endblock content %}