{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="box_p">
    <div class="view">
        <div class="text-wrapper">E-mail</div>
        <p class="div">нужен для входа в личный кабинет и оповещений о посылках</p>
        <div class="overlap"><div class="text-wrapper-2">example@mail.ru</div></div>
        <div class="text-wrapper-3">Номер телефона</div>
        <div class="overlap-group"><div class="text-wrapper-4">+7 (999)-999-99-99</div></div>
        <p class="p">Как к вам можно обращаться</p>
        <div class="div-wrapper"><div class="text-wrapper-5">любимый подписчик</div></div>
    </div>
</div>
{% endblock content %}