{% extends 'base.html' %}
{% load static %}
{% block header %}
<link rel="stylesheet" href="{% static 'css/auth.css' %}" media="screen">
<!-- <style>
  .u-section-1 {
    background-image: url("{% static 'images/bg_reg.PNG' %}");
    background-position: auto auto;
  }
</style> -->
<img src="{% static 'images/bg_reg.PNG'%}" class="background-image" alt="Фоновое изображение">
{% endblock header %}
{% block content %}
<section class="u-clearfix u-image u-section-1" id="sec-4a8b" data-image-width="1920" data-image-height="1080">
  <div class="u-clearfix u-sheet u-sheet-1">
    <h3 class="u-align-center u-text u-text-default u-text-1">Авторизация</h3>
    <div class="custom-expanded u-align-center u-form u-form-checks-spacing-0 u-form-1">
      <form action="https://forms.nicepagesrv.com/v2/form/process" class="u-clearfix u-form-spacing-10 u-form-vertical u-inner-form" source="email" name="form" style="padding: 10px;">
        <div class="u-form-email u-form-group">
          <label for="email-5846" class="u-custom-font u-heading-font u-label u-label-1">Эл. почта</label>
          <input type="email" placeholder="Введите Ваш email адрес" id="email-5846" name="email" class="u-custom-font u-heading-font u-input u-input-rectangle u-radius-25 u-input-1" required="">
        </div>
        <div class="u-form-group u-form-name">
          <label for="name-5846" class="u-custom-font u-heading-font u-label u-label-2">Пароль</label>
          <input type="text" placeholder="Введите Ваш пароль" id="name-5846" name="password" class="u-custom-font u-heading-font u-input u-input-rectangle u-radius-25 u-input-2" required="">
        </div>
        <div class="u-form-checkbox u-form-group u-form-group-3">
          <input type="checkbox" id="checkbox-cd13" name="checkbox" value="On" class="u-field-input">
          <label for="checkbox-cd13" class="u-custom-font u-field-label u-heading-font" style="font-size: 1.125rem; font-weight: 500;">Запомнить меня</label>
        </div>
        <div class="u-align-center u-form-group u-form-submit">
          <a href="#" class="u-border-none u-btn u-btn-round u-btn-submit u-button-style u-custom-color-3 u-hover-custom-color-1 u-radius-25 u-btn-1">Войти</a>
          <input type="submit" value="submit" class="u-form-control-hidden">
        </div>
        <div class="u-form-send-message u-form-send-success"> Спасибо! Ваше сообщение отправлено. </div>
        <div class="u-form-send-error u-form-send-message"> Отправка не удалась. Пожалуйста, исправьте ошибки и попробуйте еще раз. </div>
        <input type="hidden" value="" name="recaptchaResponse">
        <input type="hidden" name="formServices" value="678af8ff-c1a4-2745-6160-7f26e9e733c6">
      </form>
    </div>
    <a href="https://nicepage.com/html-website-builder" class="u-border-none u-btn u-button-style u-custom-font u-heading-font u-none u-text-hover-custom-color-9 u-text-palette-2-dark-3 u-btn-2">Восстановить пароль</a>
    <a href="https://nicepage.com/k/flask-html-templates" class="u-border-none u-btn u-button-style u-custom-font u-heading-font u-none u-text-hover-custom-color-5 u-btn-3">Еще не зарегистрированы?</a>
  </div>
</section>
{% endblock content %}